$primary: #3867a9;
$secondary: darkblue;
$light: #F0F2F2;
$dark: #353535;
$table-color: #353535;
$table-cell-padding-x: 10px;
$table-cell-padding-y: 10px;
$navbar-dark-color: $light;
@import '../node_modules/bootstrap/scss/bootstrap.scss';